<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>AreYouReady</servlet-name>
  	<servlet-class>net.mirgiga.web.AreYouReady</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AreYouReady</servlet-name>
  	<url-pattern>/ready.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Quiz</servlet-name>
  	<servlet-class>net.mirgiga.web.Quiz</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Quiz</servlet-name>
  	<url-pattern>/quiz.do</url-pattern>
  </servlet-mapping>


<servlet>
  	<servlet-name>Result</servlet-name>
  	<servlet-class>net.mirgiga.web.Result</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Result</servlet-name>
  	<url-pattern>/result.do</url-pattern>
  </servlet-mapping>
</web-app>